/*
  Name: JLNB Theme
  Version: 0.1
  Author: Jacob Larsen @ Netbooser
*/




body{
  margin: 0 auto;
  padding: 0;
}

body.customize-support{
  // margin-top: 50px;
}


.jlnb-content{
	img{
	  max-width: 100%;
	}

	div {
		// border: 1px solid #000;
		// margin: 10px;
	}

}




header.jlnb{
  position: relative;
  width: 100%;
  min-height: 400px;
  background-color: #8bc3bc;

  text-align: right;

  #jlnb-logo{
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
}


footer.jlnb{
  position: relative;
  width: 100%;
  min-height: 400px;
  background-color: #ff9a9a;
}





#jlnb-topMenu{

  ul{

    li{

    }
  }
}