/*
  Name: JLNB Theme
  Version: 0.1
  Author: Jacob Larsen @ Netbooser
*/

img{
  max-width: 100%;
}


body{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

body.customize-support{
  margin-top: 50px;
}